.btn-main, .btn-main-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #0075FF;
  color: white;
  border: 1px solid #0075FF;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #0075FF;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-sec, .btn-sec-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  color: #000000;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #888;
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.icon-sm i {
  font-size: 1.25rem;
  padding: 0.4rem 0.65rem;
  color: #0075FF;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
}

.menu {
  display: flex;
}
.menu .main-menu {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}
.menu .main-menu li {
  font-size: 1rem;
  list-style: none;
  margin: 0 15px;
}
.menu .main-menu li a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.menu .main-menu li a:hover {
  text-decoration: underline;
}

.benefit {
  display: flex;
  flex-direction: column;
}
.benefit i {
  color: #0075FF;
  font-size: 10rem;
  text-align: center;
}
.benefit .description {
  height: 8rem;
}
.benefit .description .title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.benefit .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
  padding: 0 2.5rem;
}
.benefit .cta {
  margin-top: 3rem;
  color: #0075FF;
  font-weight: 600;
  text-align: center;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desc i {
  color: #0075FF;
  padding: 0;
  font-size: 10rem;
}
.icon-desc .title {
  margin-top: -2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

html {
  min-width: 500px;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid #ddd;
}

.logo a img {
  max-width: 7rem;
}

.sec-home {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 3rem;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .home-cta .cta-text {
  color: #0075FF;
}
.sec-home .home-cta .home-title {
  width: 22rem;
  font-size: 4rem;
  font-weight: 600;
}
.sec-home .home-cta .home-description {
  margin-top: 1.5rem;
  width: 25rem;
  font-weight: 600;
  font-size: 1.1rem;
}
.sec-home .home-cta .lead-magnet .input-col {
  max-width: 300px;
}

.sec-features {
  max-width: 1200px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-features .intro {
  text-align: center;
}
.sec-features .intro h3 {
  font-size: 2rem;
}
.sec-features .intro p {
  font-size: 1rem;
  color: #888;
}
.sec-features .features {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}
.sec-features .features .text {
  padding: 2rem 0;
}
.sec-features .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem;
}
.sec-features .features .text .feature .description {
  margin-left: 1rem;
  max-width: 20rem;
}
.sec-features .features .text .feature .description .description-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.sec-features .features .text .feature .description .description-text {
  font-size: 1rem;
}
.sec-features .features .image img {
  max-width: 50rem;
}

.sec-benefits {
  max-width: 100%;
  margin: auto;
  padding: 3rem;
  border-top: 1px solid #ddd;
}
.sec-benefits .intro {
  text-align: center;
}
.sec-benefits .intro h3 {
  font-size: 2rem;
}
.sec-benefits .intro p {
  font-size: 1rem;
  color: #888;
}
.sec-benefits .benefits-cards {
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}
.sec-benefits .benefits-cards .benefit .description {
  display: flex;
}

.sec-kpis {
  max-width: 100%;
  margin: auto;
  padding: 3rem;
  background-color: #0075FF;
  color: white;
  padding: 4rem;
}
.sec-kpis .kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-kpis .kpi .number {
  font-size: 3.5rem;
  font-weight: 600;
}
.sec-kpis .kpi .desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6666666667);
}

.sec-onboarding {
  max-width: 100%;
  margin: auto;
  padding: 3rem;
}
.sec-onboarding .intro {
  text-align: center;
}
.sec-onboarding .intro h3 {
  font-size: 2rem;
}
.sec-onboarding .intro p {
  font-size: 1rem;
  color: #888;
}
.sec-onboarding .steps {
  padding: 0 7rem 5rem 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-onboarding .steps .step-separator {
  flex: 1;
  border-top: 2px solid #ddd;
  margin: 0 1rem;
}

.sec-footer-cta {
  background-color: #F4F7FE;
  padding: 5rem;
  background-image: url(../assets/img/bg-footer.png);
  background-repeat: no-repeat;
  background-position: 100%;
}
.sec-footer-cta .footer-cta {
  width: 50%;
}
.sec-footer-cta .footer-cta .cta-title {
  font-size: 2rem;
}
.sec-footer-cta .footer-cta .cta-description {
  font-size: 1.1rem;
  color: #888;
}

@media (max-width: 768px) {
  .nav .menu .main-menu {
    display: none;
  }
  .sec-features .intro p {
    font-size: 1.1rem;
  }
  .sec-benefits .intro p {
    font-size: 1.1rem;
  }
  .sec-benefits .benefit-cards .benefit .description p {
    font-size: 1.1rem;
  }
  .sec-benefits .benefit-cards .cta p {
    font-size: 1.1rem;
  }
  .sec-kpis .kpi {
    margin: 1rem 0;
  }
  .sec-kpis .kpi .desc {
    font-size: 1.1rem;
  }
  .sec-onboarding .intro p {
    font-size: 1.1rem;
  }
  .sec-onboarding .steps {
    flex-direction: column;
  }
  .sec-onboarding .steps .icon-desc .title {
    text-align: center;
  }
  .sec-footer-cta {
    background-image: none;
  }
  .sec-footer-cta .footer-cta {
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
