@use "components";

@mixin section-display($max-width) {
    max-width: $max-width;
    margin: auto;
    padding: 3rem;
}

@mixin section-header {
    text-align: center;
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
        color: #888;
    }
}

html {
    min-width: 500px;
}

body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ddd;

}

.logo a img {
    max-width: 7rem;
}

.sec-home {
    display: flex;
    align-items: center;
    @include section-display(1200px);
    .home-cta {
        flex: 1;
        .cta-text {
            color: components.$color-main;
        }
        .home-title {
            width: 22rem;
            font-size: 4rem;
            font-weight: 600;
        }
        .home-description {
            margin-top: 1.5rem;
            width: 25rem;
            font-weight: 600;
            font-size: 1.1rem;
        }
        .lead-magnet {
            .input-col {
                max-width: 300px;
            }
        }
    }
}

.sec-features {
    @include section-display(1200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro {
        @include section-header();
    }
    .features {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-around;
        .text {
            padding: 2rem 0;
            .feature {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0.5rem;
                .description {
                    margin-left: 1rem;
                    max-width: 20rem;
                    .description-title {
                        font-size: 1.25rem;
                        font-weight: 600;
                    }
                    .description-text {
                        font-size: 1rem;
                    }
                }
            }
        }

        .image{
            img {
                max-width: 50rem;
            }
        }

    }
}

.sec-benefits {
    .intro {
        @include section-header();
    }

    @include section-display(100%);
    border-top: 1px solid #ddd;
    
    .benefits-cards {
        width: 100%;
        padding: 0 2rem 2rem 2rem; 
        .benefit {
            .description {
                display: flex;
            }
        }
    }
    
}

.sec-kpis {
    @include section-display(100%);
    background-color: components.$color-main;
    color: white;
    padding: 4rem;
    .kpi {
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
            font-size: 3.5rem;
            font-weight: 600;
        }
        .desc {
            font-size: 0.9rem;
            color: #ffffffaa;
        }
    }

}

.sec-onboarding {
    .intro {
        @include section-header();
    }

    @include section-display(100%);

    .steps {
        padding: 0 7rem 5rem 7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .step-separator {
            flex: 1;
            border-top: 2px solid #ddd;
            margin: 0 1rem;
        }

    }
    
    
}

.sec-footer-cta {
    background-color: components.$color-footer;
    padding: 5rem;
    background-image: url(../assets/img/bg-footer.png);
    background-repeat: no-repeat;
    background-position: 100%;
    .footer-cta {
        width: 50%;
        .cta-title {
            font-size: 2rem;
        }
        .cta-description {
            font-size: 1.1rem;
            color:#888;
        }
    }
    
}

@media (max-width: 768px) {

    .nav {
        .menu{
            .main-menu {
                display: none;
            }
        }
    }

    .sec-features {
        .intro {
            p {
                font-size: 1.1rem;
            }
        }
    }

    .sec-benefits {
        .intro {
            p {
                font-size: 1.1rem;
            }
        }
        .benefit-cards {
            .benefit {
                .description {
                    p {
                        font-size: 1.1rem;
                    }
                }
            }
            .cta {
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .sec-kpis {
        .kpi {
            margin: 1rem 0;
            .desc {
                font-size: 1.1rem;
            }
        }
    }

    .sec-onboarding {
        .intro {
            p {
                font-size: 1.1rem;
            }
        }
        .steps{
            flex-direction: column;
            .icon-desc {
                .title{
                    text-align: center;
                }
            }
        }
    }

    .sec-footer-cta {
        background-image: none;
        .footer-cta {
            width: 100%;
            text-align: center;
        }
    }
}