body {
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid #ddd;

}

.logo a img {
    max-width: 7rem;
}